/*page.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.container button {
  padding: 8px 16px;
  background-color: #470f12;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 80px;
  font-size: 16px;
  font-weight: 500;
}

.container button:hover {
  background-color: #e2111b;
}

.container div {
  display: flex;
  gap: 1rem;
}

.container a {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  font-size: 24px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}

.container a:hover {
  background-color: #45a049;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.login input {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.login button {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: #fff;
}

.login button:hover {
  background-color: #2f6d31;
  cursor: pointer;
}